<form class="navbar-form text-center" role="search" name="form">
    <h4>Please enter your new password</h4>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" ng-model="cc.currentUsername" ng-readonly="true">
    </div>
    <br>
    <br>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i>
            </span>
        <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" ng-model="cc.password">
    </div>
    <br>
    <br>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true">
            </i></span>
        <input type="password" class="form-control" placeholder="Reset Password" aria-describedby="basic-addon1" name="resetPassword" ng-model="cc.resetP" ng-match="password">
        <!--<span data-ng-show="form.resetPassword.$error.match">Emails have to match!</span>-->
    </div>
    <br>
    <br>
    <button class="btn btn-success" ng-click="cc.resetPassword()"><i class="fa fa-floppy-o" aria-hidden="true">
        &nbsp;&nbsp;Save Password</i> </button><br>
    <span ng-show="cc.IsMatch">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        Password should have to match...!</span>
</form>