<div class="row" style="margin-top: 10px;margin-left: 10px">
<div class="col-sm-4" ng-repeat="user in dc.allUsersData" style="border: 1px solid black;margin-left: 5px;margin-bottom: 5px;max-width: 350px">
        <div class="row">
            <div class="col-sm-7">
                <b>Title:&nbsp;User Information</b>
            </div>
            <div class="col-sm-2">
               <a href="" ng-click="dc.deleteUser(user._id)"> <i class="fa fa-trash-o fa-2x" aria-hidden="true" uib-tooltip="Delete User"></i></a>
            </div>
            <div class="col-sm-2">
               <a href="" ng-click="dc.getUser(user._id)"> <i class="fa fa-pencil fa-2x" aria-hidden="true" uib-tooltip="Edit User"></i></a>
            </div>

        </div>
        <hr>
        <b>First Name:</b>{{user.firstname}}<br>
        <b>Last Name:</b>{{user.lastname}}


</div>
    </div>