<div class="row" style="margin-top: 10px;margin-left: 10px">
<div class="col-sm-4 dashboard-element" ng-repeat="user in dc.allUsersData">
        <div class="row">
            <div class="col-sm-7">
                <b>Title:&nbsp;User Information</b>
            </div>
            <div class="col-sm-2">

               <a class="btn btn-danger" href="" ng-click="dc.deleteUser(user._id)">
                   <i class="fa fa-trash-o fa-2x" aria-hidden="true" uib-tooltip="Delete User"></i>
               </a>
            </div>
            <div class="col-sm-2">
               <a href="" class="btn btn-primary" ng-click="dc.getUser(user._id)">
                   <i class="fa fa-pencil fa-2x" aria-hidden="true" uib-tooltip="Edit User"></i>
               </a>
            </div>

        </div>
        <hr>
    <div class="row">

            <b>First Name:&nbsp;&nbsp;{{user.firstname}}</b><br>
            <b>Last Name:&nbsp;&nbsp;{{user.lastname}}</b><br>
            <b>Email Id :&nbsp;&nbsp;{{user.email}}</b><br>

    </div>

</div>
    <img ng-if="dc.dataLoading" src="../images/Preloader_8.gif"/>
</div>

