<form class="navbar-form text-center" role="search">
    <div class="alert-danger">{{fc.error}}</div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" ng-model="fc.username">
    </div>
    <br>
    <br>
    <button class="btn btn-success" ng-click="fc.forgotPassword(fc.username)">
        <i class="fa fa-repeat" aria-hidden="true">&nbsp;&nbsp;Reset Password</i>
    </button>
</form>